node_modules/
dist/
dist-ssr
build/
*.local
.env
.env.local
.env.*.local
*.log
.DS_Store
Thumbs.db
__pycache__/
*.pyc
.venv/
venv/
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
